@font-face {
  font-family: "Exo_2";
  src: url("../fonts/Exo_2,Open_Sans/Exo_2/static/Exo2-BoldItalic.ttf")
      format("ttf"),
    url("../fonts/Exo_2,Open_Sans/Exo_2/static/Exo2-ExtraLightItalic.ttf")
      format("ttf");
}

body {
  background-color: #eee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #444;
  font-weight: normal;
  line-height: 1.5;
}

/*
Mobile: 0 --- 320px --- 767px
Tablet: 768px --- 1024px 
Desktop: 1080px --- 1336px --- 1440px --- 1980px
*/

main img {
  width: 100%;
  margin: 0 auto 0 auto;
  display: block;
}

.app-header {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

.app-logo {
  display: inline-block;
}

.app-logo img {
  width: 160px;
}

.app-navigation {
  float: right;
}

/* links have 4 states... 
a:link, a:visited, a:active, a:hover 
*/

.app-navigation a:link {
  text-decoration: none;
  color: #444;
}

.app-navigation a:visited {
  color: #444;
}

.app-navigation a:active {
  color: blueviolet;
}

.app-navigation a:hover {
  color: cadetblue;
}

.nav-icon {
  color: #444;
  padding-right: 0.3em;
}

.app-navigation-drawer {
  /* hide nav on load */
  display: block;
  background-color: #fff;
  padding: 0.5em;
  border-bottom: 1px solid green;
  list-style: none;
  /* animated: default state on page load */
  transition: all 0.3s linear;
  transform: translateY(-150%);
}

.sr-only {
  display: none;
}

#hamburger-menu {
  /* hide the checkbox */
  display: none;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  /* show nav on :checked */
  display: block;
  /* animate into page show state */
  transform: translateY(0px);
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-family: "Exo_2";
  font-weight: 700;
}

p {
  font-family: "Open Sans", sans-serif;
}

.color-red {
  color: red;
}

form {
  background-color: transparent;
}

form fieldset {
  border: 2px dashed darkblue;
  padding: 0.5em 0 1em 1em;
  background-color: aliceblue;
}

form fieldset legend {
  font-style: italic;
  font-size: 2em;
}

form label {
  display: block;
}

form h5 {
  margin-bottom: 5px;
}
.input-text {
  width: 60%;
  border: 1px solid #444;
  padding: 0.5em;
  color: #666;
  border-radius: 6px;
}

.input-text-area {
  border-radius: 6px;
}

input[type="submit"] {
  background-color: peachpuff;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0.5em;
}

input[type="submit"]:hover {
  background-color: greenyellow;
}

.language-html {
  background-color: black;
}

/*
textarea {
  border-radius: 6px;
}
input[type="text"] {
  border: 3px solid red;
}
input[type="email"] {
  border: 3px solid green;
}
input[type="tel"] {
  border: 3px solid blue;
}
*/

.footer {
  background-color: burlywood;
}

.footer .column {
  display: block;
  width: 100%;
  border: 1px solid red;
}

/*
<i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        
.footer-icon {
  padding: 0.5em;
}
*/

/* Desktop! MUST BE LAST! */
@media screen and (min-width: 767px) {
  .app-navigation-drawer {
    transform: translateY(0);
    background-color: transparent;
    border-bottom: none;
    padding: 0;
  }

  .fa-bars {
    display: none;
  }

  .app-navigation-drawer li {
    display: inline-block;
  }

  .app-header {
    overflow: hidden;
    height: 44px;
  }

  .app-article {
    display: inline-block;
    width: 58%;
  }

  .app-sidebar {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }

  .footer .column {
    display: inline-block;
    width: 22%;
    border: 1px solid red;
  }
} /* Desktop stops here */
